* {
    margin: 0px;
    padding: 0px;
  }
  body {
    background-color: aquamarine;
  }
  h2 {
    margin-top: 15px;
    padding-left: 332px;
  }
  .address {
    position: absolute;
    margin-top: 20px;
    margin-left: 332px;
    height: 110px;
    width: 850px;
    background-color: white;
  }
  li {
    list-style: none;
    display: block;
    position: relative;
    top: 18px;
    left: 28px;
    line-height: 25px;
  }
  a {
    display: block;
    position: relative;
    left: 290px;
    top: -22px;
    color: rgb(60, 206, 158);
  }
  #email {
    color: red;
  }
  .cont {
    position: relative;
    margin-top: 160px;
    margin-left: 332px;
    background-color: white;
    height: 460px;
    width: 850px;
  }
  input {
    height: 35px;
    font-size: 18px;
    margin: 14px;
  }
   
  button {
    height: 40px;
    width: 60px;
    background-color: red;
    color: white;
    border-radius: 3px;
    border: none;
    margin-left: 15px;
  }
  .map{
    position: absolute;
    top: 20px;
    right: 40px;
    
  }